<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
  <ion-content class="ion-text-center ion-align-items-center">
    <ion-card>
      <img src="assets/fotomia.jpg" alt="Foto de perfil" style="width: 250px; height: 250px">
      <ion-card-content>
        <h3>Nombre: Jeferson Mercedes Damaso</h3>
        <p>Teléfono: 829-786-4123</p>
        <p>Correo: Jeferson.md0212@gmail.com</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
