<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>herramienta</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <style>
    /* Estilos para centrar la imagen */
    .centered-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>
</ion-header>


<ion-content [fullscreen]="true" style="display: flex; justify-content: center; align-items: center;">


  <div class="centered-image">
    <img src="assets/herramienta.jpg" style="width: 100px; height: 100px;">
</div>

</ion-content>
